*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landingContainer{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    // background-color: black;
    .header{
        width: 100%;
        height: 3em;
        display: flex;
        align-items: center;
        border:1px solid black;
        justify-content: space-around;
        // background-color: orange;
        background-color: rgb(71, 15, 71);
        // background-color: rgb(6, 5, 29);
        color: black;
            z-index: 2;
        .logo{
font-size: 22px;
            margin: 10px;
            color: white;
            img{
              width:4em;
              height:4em;
            }
            span{
              font-size: 18px;
              font-weight: bold;
              display: block;
              // background-color: rgb(255, 255, 255);
              color: rgb(255, 0, 255);
              padding: 6px;
              border-radius: 10px;
              font-family: cursive;
              // border-left: 3px solid white;
              // border: 1px solid white;
              // transform: rotate(-5deg);
            }
        }
        .navList{
            display: flex;
            align-items: center;
            // border: 1px solid black;
            a{
                margin: 10px;
                text-decoration: none;
                color: black;
                color: white;
                font-size: 17px;
                font-weight: bold;
                border: 1px solid black;
                width: fit-content;
                .test{
                  margin-right: 13px;
                }
            }
            button{
                padding: 10px;
                background-color: orangered;
                border: 1px solid white;
                color: white;
                font-weight: bold;
            }
        }
    }
    .hero{
      overflow-x: hidden;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
    //   background-color: rgb(255, 225, 171);
      background-color: rgb(240, 186, 240);
      position: relative;
      height: 40em;
      overflow: hidden;
      // background-color: rgb(246, 246, 252);
      .design{
        height: 200%;
        // height: 200%;
        border: 2px solid white;
        width:300%;
        // width:100%;
        transform: rotate(40deg);
        position: absolute;
        top: 30%;
       left: 20%;
        // top: 50%;
        // right: 50%;
        background-color: rgba(128, 0, 128, 0.438);
        // background-color: rgba(128, 0, 128, 0.479);
      }
      .others{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
        position: absolute;
        top: 0%;
        overflow: hidden;
      h1{
        margin-top: 3em;
        width: 80%;
        text-align: center; 
          span{
            // background-color: rgb(255, 0, 255);
            padding: 5px;
            border-radius: 5px;
            color: white
          }
       
      }
      @media (max-width:567px) {
         h1{
            font-size: 24px;
         }
      }
      }
      button{
        padding: 10px;
        margin: 2em;
        background-color: orangered;
        color: white;
        font-weight: bold;
        border: 1px solid white;
        width: 10em;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
      }
      img{
        margin: 1em;
      }
    }
    .footer{
        border: 1px solid black;
        height: 7em;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
        .logo{
            text-align: center;
            font-size: 22px;
            margin: 10px;
        }
    }
}