* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingContainer {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}
.landingContainer .header {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  border: 1px solid black;
  justify-content: space-around;
  background-color: rgb(71, 15, 71);
  color: black;
  z-index: 2;
}
.landingContainer .header .logo {
  font-size: 22px;
  margin: 10px;
  color: white;
  cursor: pointer;
}
.landingContainer .header .logo img {
  width: 4em;
  height: 4em;
}
.landingContainer .header .logo span {
  font-size: 18px;
  font-weight: bold;
  display: block;
  color: rgb(255, 0, 255);
  padding: 6px;
  border-radius: 10px;
  font-family: cursive;
}
.landingContainer .header .navList {
  display: flex;
  align-items: center;
}
.landingContainer .header .navList a {
  margin: 10px;
  text-decoration: none;
  color: black;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid black;
  width: -moz-fit-content;
  width: fit-content;
}
.landingContainer .header .navList a .test {
  margin-right: 13px;
}
.landingContainer .header .navList button {
  padding: 10px;
  background-color: orangered;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}
.landingContainer .hero {
  overflow-x: hidden;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 186, 240);
  position: relative;
  height: 40em;
  overflow: hidden;
  background: url(../../public/launch1.webp) rgba(240, 6, 240, 0.585);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
}
.landingContainer .hero .design {
  height: 200%;
  border: 1px solid rgb(73, 8, 79);
  width: 300%;
  transform: rotate(40deg);
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: rgba(128, 0, 128, 0.479);
  display: none;
}
.landingContainer .hero .others {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  position: absolute;
  top: 0%;
  overflow: hidden;
}
.landingContainer .hero .others h1 {
  margin-top: 3em;
  width: 80%;
  text-align: center;
}
.landingContainer .hero .others h1 span {
  padding: 5px;
  border-radius: 5px;
  color: white;
}
@media (max-width: 567px) {
  .landingContainer .hero .others h1 {
    font-size: 24px;
  }
}
.landingContainer .hero button {
  padding: 10px;
  margin: 2em;
  background-color: orangered;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  width: 10em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-size: 15px;
}
.landingContainer .hero img {
  margin: 1em;
}
.landingContainer .footer {
  border: 1px solid black;
  height: 7em;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.landingContainer .footer .logo {
  text-align: center;
  font-size: 22px;
  margin: 10px;
}
.landingContainer .prompt {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 20px;
  transition: bottom 0.8s ease-in-out;
}
.landingContainer .prompt.open {
  bottom: 0;
}
.landingContainer .prompt .prompt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.landingContainer .prompt .prompt-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.landingContainer .prompt .prompt-content p {
  font-size: 16px;
  margin-bottom: 20px;
}
.landingContainer .prompt .prompt-content button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.landingContainer .prompt .prompt-content button:hover {
  background-color: #005599;
}
.landingContainer .prompt .close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.landingContainer .prompt .close-button:hover {
  background-color: #999;
}/*# sourceMappingURL=landing.css.map */