* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  min-height: 100vh;
  background-color: rgb(190, 97, 190);
  font-family: sans-serif;
}
.container nav {
  border: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  background-color: black;
  color: white;
}
.container .first {
  border: 1px solid black;
  width: 100%;
  background-color: black;
  color: white;
  margin: 10px;
}
.container .second {
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: black;
  color: white;
  padding: 2px;
}
.container .second div {
  border-bottom: 1px solid white;
  margin: 3px;
  font-size: 19px;
  font-weight: bold;
}
.container .second span {
  color: orange;
}
.container .innerCont {
  width: 70%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.container .innerCont .loading {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.322);
}
.container .innerCont .loading span {
  font-weight: bold;
  display: block;
  margin-top: 14em;
  background-color: white;
  color: black;
  padding: 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 0.8s linear infinite alternate;
  height: -moz-fit-content;
  height: fit-content;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(25px);
    background-color: black;
    color: white;
  }
}
.container .innerCont .head {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.container .innerCont .box {
  width: 98%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}
.container .innerCont .result h3 {
  background-color: rgb(248, 248, 162);
  padding: 4px;
  border-radius: 3px;
}
.container .innerCont .number {
  font-size: 19px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: black;
  width: 1.8em;
  height: 1.8em;
  margin-right: 2px;
  color: white;
}
@media (max-width: 768px) {
  .container .innerCont .number {
    width: 1em;
    height: 1em;
    font-size: 15px;
  }
}
.container .innerCont .others {
  width: 70%;
}
@media (max-width: 848px) {
  .container .innerCont .others {
    width: 90%;
  }
}
@media (max-width: 544px) {
  .container .innerCont .others {
    width: 95%;
  }
}
.container .innerCont .question {
  font-size: 19px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 17px;
}
.container .innerCont .selected {
  display: none;
  word-break: break-all;
  word-wrap: break-word;
}
.container .innerCont .answer {
  display: none;
  word-break: break-all;
  word-wrap: break-word;
}
.container .innerCont .ansDesc {
  width: 100%;
  border: 1px solid black;
  word-break: break-all;
  margin-top: 2px;
  font-family: sans-serif;
  padding: 2px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: peru;
  color: white;
}
.container .innerCont .ansDesc b:first-child {
  background-color: black;
  padding: 4px;
  text-decoration: underline;
}
.container .innerCont .ansDesc .ans {
  font-size: 14px;
  padding: 4px;
  display: inline-block;
  word-break: break-all;
  word-wrap: break-word;
}
.container .innerCont .ansDesc span {
  display: inline-block;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.308);
  font-size: 15px;
  padding: 5px;
  color: black;
}
.container .innerCont .options {
  margin-top: 1px;
}
.container .innerCont .options .option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  margin-top: 2px;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 13px;
  font-weight: bold;
}
.container .innerCont .options .option h1 {
  border: 1px solid black;
  background-color: rgb(31, 31, 31);
  padding: 5px;
  width: 1.3em;
}
.container .innerCont .options .option span {
  padding-left: 10px;
  margin: 5px;
}
.container .innerCont .options .option:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.884);
}
.container footer button {
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: black;
  font-weight: bold;
  border: 1px solid transparent;
  cursor: pointer;
}
.container footer .submit {
  background-color: green;
}
@media (max-width: 848px) {
  .container .innerCont {
    width: 80%;
    margin-top: 12em;
  }
}
@media (max-width: 544px) {
  .container .innerCont {
    width: 95%;
  }
}
@media (max-width: 425px) {
  .container .innerCont {
    width: 99%;
  }
}/*# sourceMappingURL=testEnv.css.map */